@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

body {
  font-size: 16px;
  color: #e5e0e0;
  background-image: url(https://media.istockphoto.com/photos/to-do-list-text-on-notepad-picture-id1285308242?b=1&k=20&m=1285308242&s=170667a&w=0&h=K-UO77yYEQAKjRNLhgXADlyRIqrPkB8sC-4mKcyMgC4=);
  font-family: 'Poppins', sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
}

main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
}

section {
  padding: 50px 10px;
  display: flex;
  flex-direction: column;
}

header h2 {
  text-align: center;
  text-transform: uppercase;
  padding: 15px;
  margin: 10px;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 60px;
}

.toggle-dark {
  display: block;
  padding: 15px;
  margin: auto;
  border-radius: 5px;
  border: none;
  float: right;
}
.button {
  border: none;
  color: lightpink;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 5px 5px;
  position:relative; 
  left:100px;
   top:1px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.button1 {
  background-color: lightpink;
  color: black;
  border: 2px solid lightsalmon;
}

.button1:hover {
  background-color: #b56926;
  color: white;
}

.dark-mode {
  background-color: #FF3CAC;
  background-image: url(https://c0.wallpaperflare.com/preview/34/705/139/tasks-plan-target-list.jpg);
  color: white;  
}
.btn-download{
  margin: 5% 3% 5% 0;
}

.toggle-dark:hover {
  background-color: #8e3e75;
  cursor: pointer;
}

.toggle-dark:active {
  background-color: #b736d4;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.todoInput {
  height: 45px;
  padding: 1px 20px;
  font-size: 16px;
  border: none;
  border-radius: 20px;
  margin-right: 10px;
  margin-left: -80px;
}

.add {
  font-size: 38px;
  border: none;
  color: #1b80c3;
  
  border-radius: 10px;
}

.todos {
  padding: 15px 0px;
  list-style: none;
}

.add:hover {
  cursor: pointer;
}

.todoDiv {
  background-color: white;
  color: #000;
  font-size: 14px;
  font-weight: bold;
  padding: 6px 4px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease;
  border-radius: 20px;
}

.fish {
  flex: 1;
}

.done {
  background-color: transparent;
  padding: 4px 6px;
  color: #fff;
  border: none;
  margin-right: 3px;
  outline: none;
}

.trash {
  background-color: transparent;
  padding: 4px 6px;
  color: #fff;
  border: none;
  outline: none;
}

.edit {
  background-color: transparent;
  padding: 4px 6px;
  color: #fff;
  border: none;
  outline: none;
}

.done:hover,
.trash:hover,
.edit:hover {
  scale: 1.1;
  cursor: pointer;
}

.completed {
  text-decoration: line-through;
  opacity: 0.6;
}

.fall {
  transform: translateY(8rem) rotateZ(20deg);
  opacity: 0;
}

img {
  pointer-events: none;
  width: 20px;
}

.err-msg {
  display: none;
  font-weight: bolder;
  color: white;
  margin-left: 70px;
}

li {
  list-style-type: none;
  padding-left: 20px;
  text-transform: capitalize;
}

.invisible {
  display: none;
}

.editInput {
  height: 45px;
  padding: 1px 20px;
  outline-color: #073664;
  outline-width: 2px;
  font-size: 16px;
  border: none;
  border-radius: 20px;
  margin-right: 10px;
}

.beingEdited {
  box-shadow: 0px 0px 3px 3px lightblue;
}

.wrapper{
  background: #fff;
  max-width: 400px;
  width: 100%;
  margin: auto;
  padding: 25px;
  box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);
  height: 300px;
  border-radius: 5px;
  backdrop-filter: blur(14px);
  background-color: rgba(255, 255, 255, 0.2);
  padding-top: initial;
  height: fit-content;
}