body {
    font-size: 16px;
    color: #E5E0E0;
    background-image: linear-gradient(to bottom,#655D8A 30%, #7897AB 70%);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
}

section{
  padding: 50px 10px;
  display: flex;
  flex-direction: column;
  
}

header h3{
  text-align: center;
  text-transform: uppercase;
  padding: 15px;
  margin: 10px;
}


form{
  display: flex;
  justify-content: center;
  align-items: center;
}

.todoInput{
  height: 45px;
  padding: 1px 20px;
  outline-color: #073664;
  outline-width: 2px;
  font-size: 16px;
  border: none;
  border-radius: 20px;
  margin-right: 10px;
}

.add{
  padding: 11px 13px;
  text-transform: uppercase;
  font-weight: bolder;
  background-color: #655D8A;
  color: #F6F7F8;
  border: none; 
  outline: none;
} */

.todos{
  padding: 15px 0px;
  list-style: none;
}

.todoDiv{
  background-color:white;
  color: #000;
  font-size: 14px;
  font-weight: bold;
  padding: 6px 4px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease;
  border-radius: 20px;
}

.fish{
  flex: 1;
}

.done{
  background-color:transparent;
  padding: 4px 6px;
  color: #fff;
  border: none;
  margin-right: 3px;
  outline: none;
}

.trash{
  background-color:transparent;
  padding: 4px 6px;
  color: #fff;
  border: none;
  outline: none;
}


.completed{
  text-decoration: line-through;
  opacity: 0.6;
}


.fall{
  transform: translateY(8rem) rotateZ(20deg);
  opacity: 0;
}

img{
  pointer-events: none;
  width: 20px;
}
