@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,300&family=Scope+One&display=swap');

body {
  font-size: 16px;
  color: #e5e0e0;
  background: rgb(2,0,36);
  background: linear-gradient(30deg, rgba(2,0,36,1) 0%, rgb(92, 92, 187) 19%, rgba(0,212,255,1) 100%); 
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: auto;
}
.container{
  text-align: center;
  width: 100%;
  /* height: 100vh; */

  padding-top: 50px;
  /* display: flex;
  justify-content: center; */
}

section {
  padding: 50px 10px;
  display: flex;
  flex-direction: column;
}

header h2 {
  text-align: center;
  text-transform: uppercase;
  padding: 15px;
  margin: 10px;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 60px;
}

#your-tasks {
  font-size: 20px;
  padding-top: 30px;
}
.toggle-dark {
  display: block;
  padding: 15px;
  margin: auto;
  border-radius: 10px;
  border: none;
  float: right;
  background-color: #60a0b7;
  font-size: 22px;
  box-shadow: 2px 2px 13px rgb(19.17,17);
}

.dark-mode {
  /* background-color: #FF3CAC;
  background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%); */
  background: rgb(0,0,0);
  background: linear-gradient(45deg, rgba(0,0,0,1) 26%, rgba(0,6,255,1) 74%, rgba(0,187,224,1) 100%); 
  color: white;
}

.toggle-dark:hover {
  background-color: #8e3e75;
  cursor: pointer;
  transform: scale(1.08);
}

.toggle-dark:active {
  background-color: #b736d4 !important;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.todoInput {
  height: 45px;
  padding: 1px 20px;
  font-size: 16px;
  border: none;
  border-radius: 20px;
  margin-right: 10px;
  margin-left: -80px;
}

#addForm{
  padding-top: 30px;
}

.add {
  font-size: 38px;
  border: none;
  color: #1b80c3;
  border-radius: 10px;
}

.add:hover{
  background-color: #0000ff;
}

.card {
    border: 1px solid #999;
    border-radius: 3px;
    height: 200px;
    width: 500px;
    box-shadow: 0 8px 12px 0 lightblue, 0 6px 20px 0 lightblue;
}

.card:hover{
  background-color: lightblue;
}

.todos {
  padding: 15px 0px;
  list-style: none;
  text-align: center;
}

.add:hover {
  cursor: pointer;
  }

.add:active {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
  scale: 0.9;
}

.todoDiv {
  background-color: white;
  color: #000;
  font-size: 14px;
  font-weight: bold;
  padding: 6px 4px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease;
  border-radius: 20px;
}

.fish {
  flex: 1;
  max-width: 18rem;
  overflow-x: scroll;
  overflow-y: hidden;
  min-height: fit-content;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.fish::-webkit-scrollbar {
  width: 5px;
}

@media screen and (max-width: 480px) {
  .fish {
    max-width: 12rem;
  }
}
@media screen and (min-width: 720px) {
  .fish {
    max-width: 20rem;
  }
}

.done {
  background-color: transparent;
  padding: 4px 6px;
  color: #fff;
  border: none;
  margin-right: 3px;
  outline: none;
}

.trash {
  background-color: transparent;
  padding: 4px 6px;
  color: #fff;
  border: none;
  outline: none;
}

.edit {
  background-color: transparent;
  padding: 4px 6px;
  color: #fff;
  border: none;
  outline: none;
}

.done:hover,
.trash:hover,
.edit:hover {
  scale: 1.1;
  cursor: pointer;
}

.completed {
  text-decoration: line-through;
  opacity: 0.6;
}

.fall {
  transform: translateY(8rem) rotateZ(20deg);
  opacity: 0;
}

img {
  pointer-events: none;
  width: 20px;
}

.err-msg {
  display: none;
  font-weight: bolder;
  font-size: 20px;
  color: white;
  /* margin-left: 50px; */
  text-align: center;
}

li {
  list-style-type: none;
  padding-left: 20px;
  text-transform: capitalize;
}

.invisible {
  display: none;
}

.editInput {
  height: 45px;
  padding: 1px 20px;
  outline-color: #073664;
  outline-width: 2px;
  font-size: 16px;
  border: none;
  border-radius: 20px;
  margin-right: 10px;
}

.beingEdited {
  box-shadow: 0px 0px 3px 3px lightblue;
}

.wrapper{
  background: #fff;
  max-width: 400px;
  width: 100%;
  margin: auto;
  padding: 25px;
  box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);
  height: 300px;
  border-radius: 5px;
  backdrop-filter: blur(14px);
  background-color: rgba(255, 255, 255, 0.2);
  padding-top: initial;
  height: fit-content;
}
h2{
  text-align: center;
}
/* new UI and animation changes */
.brand-name{
 color: #000;
 font-weight: 600;
 transition: 0.5s;
 letter-spacing: 1px;
  margin-left: 20px;
  display: flex;
}
.brand-image{
  width: 30px;
  height: 30px;
}
.brand-name:hover{
  color: #1b80c3;
  letter-spacing: 2px;
  filter: drop-shadow(0 6px 2px #1b80c3);
}
.navbar{
  background-color: #ffffff;
  padding: 15px;
}
.top-right-icon{
  color: #073664;
}
.top-right-btn{
  background-color: #fff;
  transition: 0.5s;
}
.top-right-btn:hover{
  /* background-color: #d8d8d8; */
  filter: drop-shadow(4px 8px 2px #1b80c3);
  border: 2px dashed #000;
}
.main-card{
  background-color: rgba(255, 255, 255, 0.366);
  transition: 1s;
  border-radius: 50px ;
  min-height: fit-content;
  /* box-shadow: 20px 20px #784BA0; */
  box-shadow: 20px 20px #0000007b;
  transition: 0.5s;
}
.main-card:hover{
  filter: hue-rotate(360deg);
  outline: none;

}
.card-title{
text-transform: uppercase;
text-shadow: 3px 0px 6px#000;
font-weight: 550;
font-family: 'Roboto', sans-serif;
font-family: 'Scope One', serif;
}
.input1{
  outline: none;
  border: 2px solid rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0);
  transition: 0.5s;
}
.input1:hover{
  transform: scale(1.01);
  border-color: #0000ff;
  box-shadow: 5px 5px #073664;
}
::placeholder {
  color: #fff;
  text-transform: capitalize;
}
.add{
  transition: 0.5s;
  
}
.add:hover,.add:active{
  border-radius: 40%;
  background-color: #00f2ff;
  box-shadow: 5px 5px #4284c6;
}
.drk-btn{
  background-color: #2b92db00;
  transition: 0.5s;
}
.drk-btn:hover{
  background-color: #0089e4;
}
.done, .trash, .edit{
  transition: 0.3s;
}
.fish{
  /* background-color: #000; */
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.205);
}
.done:hover, .trash:hover, .edit:hover{
  transform: scale(1.5);
}
#your-tasks{
  font-weight: 700;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}
.err-msg{
  padding-top: 8rem;
  color: #000;
}

.footer{
  height: 200px;
  width:100%;
  text-align: center;
  background-color: rgba(255, 255, 255, .15);  
 backdrop-filter: blur(7px);
}

.social{
  font-size: 30px;
  color: #fcfcfc;
  float: right;
  margin-right: 15px;
  margin-top: -35px;
  background: #000;
  padding:4px 10px ;
  border-radius: 70%;
}

.footer-desc a{
  color: #0000ff;

.footer-social{
  margin: auto;
  width: 100%;
  padding: 10px;
  margin-top: 40px;
}
.brand{
  margin-top: -20px;
  width: 60px;
  height: 60px;
}
#linkedin:hover{
  color: #fcfcfc;
  background-color: #04669A;
}
#github:hover{
  color: #fcfcfc;
  background-color: #000;
}
#twitter:hover{
  color: #fcfcfc;
  background-color: #00acee;
}
#insta:hover{
  color: #fcfcfc;
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
}
.span{
  font-size: 18px;
}
.footer-desc{
  font-size: 12px;
  margin-top: 5px;
}